.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom right, #95D8EB, #0076BE);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #c3c3c3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
